# .env.example

# MongoDB URI
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/mydatabase

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Google Cloud Credentials
GOOGLE_CLOUD_CREDENTIALS=path/to/your/google-cloud-credentials.json

# Other Environment Variables
# Add other relevant environment variables here
